<div class="container-fluid mt-5 mb-5 text-light">

  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="display-4 text-green">Giới Thiệu Về Dự Án</h1>
        <p class="lead">Dự án web bán vé xem phim trực tuyến được phát triển bởi Nguyễn Trọng Phú.</p>
        <p class="lead">Lên ý tưởng và triển khai (15/5/2024 - Nay) - Các tài nguyên sử dụng cho mục đích học tập!</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <h2 class="text-blue">Mục Tiêu</h2>
        <p class="text-dark">
          Dự án nhằm mục đích:
        </p>
        <p class="text-dark">
          - Cung cấp một nền tảng đơn giản và thuận tiện cho việc mua vé xem phim trực tuyến;
        </p>
        <p class="text-dark">
          - Giúp người dùng dễ dàng tìm kiếm và đặt vé cho các bộ phim được chiếu tại rạp.
        </p>
        <p class="text-dark">
          - Tích hợp thanh toán VN PAY.
        </p>
        <p class="text-dark">
          Dự án cũng cung cấp các tính năng quản lý các chức năng cơ bản:
        </p>
        <p class="text-dark">
          - Quản lý phim.
        </p>
        <p class="text-dark">
          - Quản lý suất chiếu.
        </p>
        <p class="text-dark">
          - Quản lý rạp phim : Thống kê, phòng chiếu, chỗ ngồi.
        </p>

      </div>
      <div class="col-md-6">
        <h2 class="text-blue">Công Nghệ Sử Dụng</h2>
        <ul>
          <li>Angular cho frontend</li>
          <li>Spring Boot REST API cho backend</li>
          <li>My SQL cho cơ sở dữ liệu</li>
          <li>Bootstrap, HTML5 và SCSS cho thiết kế giao diện</li>
          <li>JWT, Spring security, Angular Guard cho bảo mật</li>
          <li>Bootstrap, HTML5 và SCSS cho thiết kế giao diện</li>
        </ul>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col text-center">
          <img [src]="this.logoUrl" alt="Project Logo" class="img-fluid project-logo">
      </div>
      <div class="col text-center">
          <img [src]="this.logoJavaUrl" alt="Project Logo" class="img-fluid project-logo">
      </div>
      <div class="col text-center">
          <img [src]="this.logoJavaSpringUrl" alt="Project Logo" class="img-fluid project-logo-springapi">
      </div>
      <div class="col text-center">
          <img [src]="this.logoAngularUrl" alt="Project Logo" class="img-fluid project-logo-angular">
      </div>
      <div class="col text-center">
          <img [src]="this.logoVNPAYUrl" alt="Project Logo" class="img-fluid project-logo">
      </div>
  </div>
  </div>

</div>