<div class="container-fluid mt-5 mb-5 text-light">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-4 text-green">Giới Thiệu Về Dự Án</h1>
      <p class="lead">Dự án bán vé xem phim trực tuyến được phát triển bởi Nguyễn Trọng Phú.</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6">
      <h2 class="text-yellow">Mục Tiêu</h2>
      <p>
        Dự án nhằm mục đích cung cấp một nền tảng đơn giản và thuận tiện cho việc mua vé xem phim trực tuyến, giúp người dùng dễ dàng tìm kiếm và đặt vé cho các bộ phim yêu thích.
      </p>
      <p>
        Dự án cũng cung cấp các tính năng quản lý các chức năng cơ bản của 1 trang web quản lý các rạp chiếu phim, suất chiếu vv...
      </p>
    </div>
    <div class="col-md-6">
      <h2 class="text-yellow">Công Nghệ Sử Dụng</h2>
      <ul>
        <li>Angular cho frontend</li>
        <li>Spring Boot cho backend</li>
        <li>Bootstrap, HTML5 và SCSS cho thiết kế giao diện</li>
      </ul>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col text-center">
      <img [src]="this.logoUrl" alt="Project Logo" class="img-fluid project-logo">
    </div>
  </div>
</div>
