/* Đảm bảo form nằm giữa trang */
// form {
//     max-width: 600px;
//     margin: 0 auto;
// }

h1 {
    text-align: center;
}

label {
    color: #fff;
    margin-bottom: 5px;
}
.main-content{
    min-height: 150vh;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    // width: 100%;
}

.button-edit{
    width: 100%;
}

.modal-dialog{
    min-width: 800px;
}

/* Hover effect cho button */
button:hover {
    background-color: #218838;
}


.form-group {
    margin-bottom: 15px;
}

.text-green{
    font-weight: bold;
    color: #72BE42;
  }