.navbar {
    background-color: #333 !important;
}

.navbar .container {
    background-color: #333 !important;
}

.navbar .container .navbar-brand {
    width: 180px;
    color: #adb2cb;
}

.navbar .container .navbar-nav .nav-link {
    color: #adb2cb;
    border-radius: 18px;
    padding: 8px 16px;
}

.navbar .container .navbar-nav .nav-link.active {
    background-color: green !important;
    color: white !important; 
}

.img-logo-ntp {
    border-radius: 100px;
    max-width: 40%;
    padding: auto;
    margin: auto;
}
