<nav class="navbar  navbar-expand-lg navbar-light bg-dark">
   <div class="container">
    <div>
      <span *ngIf="user">{{ user.username }}</span>
      <span *ngIf="!user">Chưa đăng nhập</span>
    </div>
        <a href="#" class="navbar-brand">
          NTP-TICKET
        </a>
        <button class="navbar-toggler" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="home" class="nav-link active">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link ">Thông báo</a>
          </li>
          <li class="nav-item">
            <a href="screen" class="nav-link ">
              <i class="fas fa-shopping-cart icon"></i>
              Phòng chiếu
            </a>
          </li>
          <li class="nav-item">
            <a href="login-or-register" class="nav-link">Đăng nhập</a>
          </li>
          <li class="nav-item">
            <a href="login-or-register" class="nav-link">Đăng ký</a>
          </li>
        </ul>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="theater">Hệ thống rạp chiếu</a></li>
                <li><a class="dropdown-item" href="#">Lịch chiếu PHIM</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
         
        </div>
      </div>
      
     
   </div>
  </nav>