.footer {
  background-color: #ffffff;
  color: #fff;
  padding: 50px 0;
  border-top: 6px solid #72BE42;
}

.about-me h5,
.footer-links h5 {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}

.social-icons a {
  color: #000000;
  font-size: 20px;
  margin-right: 10px;
}

.text-end {
  text-align: end;
  
}

.about-me p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.footer-links p {
  margin: 0;
  font-size: 16px;
}

.footer-links a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.footer-links a:hover {
  text-decoration: underline;
}
.img-logo-ntp {
  max-width: 15%;
}


.img-logo-social {
  max-width: 50px;
  border-radius: 100px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Sáng xung quanh viền ảnh */
}

.text-green{
  font-weight: bold;
  color: #72BE42;
}