<footer>
    <div class="footer">
        <div class="container">
            <div class="row movie-description">
                <div class="col-md-6">
                    <p>Nguyen Trong Phu</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/nt.phu.5686" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://github.com/DaThuTapCode" target="_blank"><i class="fab fa-github-square"></i></a>
                        <a href="https://www.instagram.com/nphu_139/" target="_blank"><i class="fab fa-instagram-square"></i></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="text-end">Terms of Service | Privacy Policy</p>
                    <p class="text-end">Email: <a href="mailto:ntpdth2004&#64;gmail.com">ntpdth2004&#64;gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
