<div class="container">
    <div class="row">
      <div class="col-lg-8">
       hes hes
        </div>
      
      <div class="col-lg-3">
        <div class="card ">
          <div *ngIf="this.showtime && this.showtime.screen && this.showtime.movie">
            <div class="card-header">
              <p>{{showtime.screen.theater.name}}</p>
              <small> Địa chỉ:  {{showtime.screen.theater.location}}</small>
              <p class="text-green">{{showtime.screen.name}}</p>
              <small>Suất chiếu {{showtime.showtime}} - Ngày: {{showtime.showdate}}</small>
            </div>
            <div class="card-body">
              <p class="">Phim: <small class="text-green">{{showtime.movie.title}}</small> </p>
              <p><small>Ngôn ngữ: {{showtime.movie.language}}</small></p>
              <p><small>Thời lượng: {{showtime.movie.duration}}p</small></p>
              <p><small>Thể loại: {{showtime.movie.genre}}</small></p>
            </div>
            <!-- <div  class="card-footer" *ngIf="this.seatIsSelected">
              <span *ngFor="let seatselect of seatIsSelected">
                {{seatselect.seatrow}}{{seatselect.seatnumber}}
              </span>
            </div> -->
          </div>
         
          <button class="btn btn-primary">Test</button>
          <button class="btn btn-success">Đặt ghế</button>
        </div>
  </div>
      </div>
    </div>
