<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header text-center">
          <h1>Thông tin thanh toán</h1>
        </div>
        <div class="card-body">
          <h2 class="text-highlight">Mã đặt chỗ: {{bookingId}}</h2>
          <p><strong>Trạng thái:</strong> {{booking.status}}</p>
          <p><strong>Đơn giá:</strong> {{booking.totalPrice | currency:'VND':'symbol'}}</p>
          <p><strong>Nội dung giao dịch:</strong> {{booking.orderinfo}}</p>
          <p><strong>Mã giao dịch:</strong> {{booking.transactioncode}}</p>
          <p><strong>Ngày giao dịch:</strong> {{booking.bookingdate | date:'dd/MM/yyyy'}}</p>
          <div class="booking-detail">
            <h3>Chi tiết đặt chỗ</h3>
            <ul class="list-group">
              Ghế đã đặt
              <li class="list-group-item" *ngFor="let bkd of booking.bookingdetail">
                {{bkd.seat.seatrow}}{{bkd.seat.seatnumber}} 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>