<div class="container">
  <h1 class="text-center text-white mt-5">Chọn thời gian và địa điểm</h1>
  <hr style="color: #72BE42; height: 5px;">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Chọn ngày</mat-label>
        <input readonly="true" matInput [matDatepicker]="picker" [min]="todayn" [(ngModel)]="minDate" (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-8">
      <h3  class="color-green">Danh sách rạp có suất chiếu</h3>
      <div class="text-name-theater" *ngIf="theaterNames.length === 0">*Không có suất chiếu nào cho hôm nay</div>
      <div *ngFor="let theaterName of theaterNames">
        <h4 class="text-center text-white">{{ theaterName }}</h4>
        <table class="table table-sm table-dark">
          <thead>
            <tr>
              <th>ID Show time</th>
              <th>Screen</th>
              <th>Địa chỉ rạp</th>
              <th>Giờ chiếu</th>
              <th>Ngày chiếu</th>
              <th>Tên Phim</th>
              <th>Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let showtime of groupedShowtimes[theaterName]">
              <td>{{ showtime.id }}</td>
              <td>{{ showtime.screen.name }}</td>
              <td>{{ showtime.screen.theater.location }}</td>
              <td>{{ showtime.showtime }}</td>
              <td>{{ showtime.showdate }}</td>
              <td>{{ showtime.movie.title }}</td>
              <td>
                <a class="btn btn-success" [routerLink]="['/screen', showtime.movie.id, showtime.screen.id, showtime.id]">
                  <i class="fa-solid fa-ticket"></i> Đặt vé
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <small class="text-danger">*Quý khách vui lòng kiểm tra kỹ địa chỉ và thông tin rạp trước khi chọn vé</small> 
    </div>
  </div>
</div>
