.theater-items{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #222;
    border-radius: 10px;
    color: white;
    text-align: center;
}


.theater-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
.container{
    min-height: 800px;
}